/*общие настройки*/

:root {
    --color1: #808080;
    --color2: #D2B48C;
}

* {
    font-family: Luminari, fantasy;
}

body {
    font-size: 16px;
    font-weight: 400;
    min-width: 320px;
}

img {
    max-width: 100%;
    height: auto;
}

.about, .contact {
    padding: 50px 0;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: black !important;
}

/*header*/
header, footer {
    background: -webkit-linear-gradient(90deg, #91b2d5,#be9ba1);
    background: linear-gradient(90deg, #91b2d5,#be9ba1);
}

header {
    padding: 20px 0;
}

footer {
    padding: 20px 0;
}
.top-menu li a::after {
    content: " ";
    display: block;
    width: 100%;
    background-color: black;
    height: 1px;
    transition: all .3s;
    transform: scale(0);
}

.top-menu li a:hover::after {
    transform: scale(1);
}


.about {
    background: var(--color1);
}

.index, .contact {
    background: var(--color2);
}
/*карусель*/
.my-carousel .carousel-item img {
    object-fit: cover;
    width: 100%;
}

.index img {
    height: 600px;
}

/*о художнике*/
.about h5 {
    padding: 15px;
    border: 3px solid white;

}

.about img {
    border-radius: 10px;
}

/*галерея-шоп*/

.gallery {
    padding: 80px 0;
}

.gallery img {
    max-width: 100%;
    background-color: var(--color1);
    padding: 15px;
    width: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    cursor: pointer;
}

/*галерея-шоп*/

/*контакты*/
.contact_social_icons ul li a {
    font-size: 24px;
    color: #b1b1b1;
    padding-right: 46px;


}

.container-contact {
    margin-top: 13vh;
}

.contact_social_icons ul li a:hover{
    color: black;
}


/*footer*/

footer {
    padding: 30px 0;
}

/*footer*/