/*General settings*/

:root {
    --color1: white;
    --color2: #efefef;
}

* {
    font-family: sans-serif;
}

body {
    font-size: 16px;
    font-weight: 400;
    min-width: 320px;
}

img {
    max-width: 100%;
    height: auto;
}

.contact {
    padding: 50px 0;
}

.about {
    padding: 30px 0;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: black !important;
}

.about, .contact-color {
    background-color: var(--color2);
}

/*header*/
header, footer {
    background: linear-gradient(90deg, #71644E ,#D3BF9A);
}

header {
    padding: 20px 0;
}

.top-menu li a::after {
    content: " ";
    display: block;
    width: 100%;
    background-color: black;
    height: 1px;
    transition: all .3s;
    transform: scale(0);
}

.top-menu li a:hover::after {
    transform: scale(1);
}

.index, .projects {
    background: var(--color1);
}

/*header*/

/*carousel*/

.my-carousel .carousel-item img {
    object-fit: cover;
    width: 100%;
}

.index img {
    height: 600px;
}

/*carousel*/

/*about the artist*/

.about h5 {
    padding: 5px;
}

.about img{
    width: 200%;
    height: 200%;
}

/*about the artist*/

/*projects*/
.projects {
    padding: 30px 0 10px 0;
}

.card {
    cursor: pointer;
}

/*projects*/

/*gallery*/

.gallery {
    padding: 30px 0;
    background-color: var(--color2);
}

.gallery img {
    max-width: 100%;
    width: 100%;
    cursor: pointer;
}

.gallery img {
    width: 400px;
    height: 400px !important;
}

#gallery-modal .modal-img {
    width: 100%;
}

/*gallery*/

/*arts*/

.arts {
    padding: 30px 0
}

.arts img {
    width: 100%;
    height: 100%;
}

/*.unclear {*/
/*    padding: 0 0 0 200px;*/
/*}*/
/*footer*/

footer {
    padding: 20px 0;
}

.contact_social_icons ul li a:hover{
    color: black;
}

footer {
    padding: 30px 0;
}

/*footer*/