* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	background: -webkit-linear-gradient(90deg, #ffffff,#ffffff,#d4caff);
	background: linear-gradient(90deg, #ffffff,#ffffff,#d4caff);
}

.p-lst-about {
	font-family: Luminari, fantasy;
	font-size:18px;
}

.p-lst-footer {
	margin: 5px 45px 55px 190px;
	font-family: Luminari, fantasy;
	font-size:18px;
}

.wrapper {
	position: relative;
	min-height: 80%;
}

.nav {
	color: black;
}

.footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 0;
	font-family: Luminari, fantasy;
}

.title-block {
	margin: 55px 25px 35px 45px;
	font-family: Luminari, fantasy;
	font-size: 20px;
}

.lst-block {
	margin: 15px 15px 15px 5px;
	width: 550px;
	height: 400px
}

.img_padding {
	float: right;
	padding: 0 5px 10px 0;
	/*filter: blur(5px);*/
	opacity: 0.95;
	border-radius: 40px 40px 40px 40px;
}


/*####*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  /*position: fixed;*/
  margin: auto;
  /*  bottom: 0;*/
  text-align: center;
}
/*.mySlides{*/
/*display: flex;*/
/*}*/

.filters-img {
 max-width: 100%;
 height: auto;
 display: block;
}


/*.filters-img img {*/
/*  width: initial;*/
/*  height: 100%;*/
/*}*/
/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
/*.prev, .next {*/
/*  cursor: pointer;*/
/*  position: absolute;*/
/*  top: 50%;*/
/*  width: auto;*/
/*  margin-top: -22px;*/
/*  padding: 16px;*/
/*  color: black;*/
/*  font-weight: bold;*/
/*  font-size: 18px;*/
/*  transition: 0.6s ease;*/
/*  border-radius: 0 3px 3px 0;*/
/*}*/

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.points-fix {
    position: absolute;
    bottom: 25px;
    right: 0;
    left: 0;
    text-align: center;
}
/* On hover, add a black background color with a little bit see-through */
/*.prev:hover, .next:hover {*/
/*  background-color: rgba(0,0,0,0.8);*/
/*}*/

/* Caption text*/
/*.text {*/
/*  color: #f2f2f2;*/
/*  font-size: 15px;*/
/*  padding: 8px 12px;*/
/*  position: absolute;*/
/*  bottom: 8px;*/
/*  width: 100%;*/
/*  text-align: center;*/
/*}*/

/* Number text (1/3 etc) */
/*.numbertext {*/
/*  color: #f2f2f2;*/
/*  font-size: 12px;*/
/*  padding: 8px 12px;*/
/*  position: absolute;*/
/*  top: 0;*/
/*}*/

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  bottom: 0;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}