{% extends 'base.html' %}

{% block title %}
About
{% endblock %}

{% block body %}
    <div class="title-block">
    <h3>Светлана Покровская, художник </h3>
    <h4>Живу и работаю в Москве</h4>
    <img src="{{ url_for('static', filename='img/about_img.jpg') }}" alt="Фото Светы" class="img_padding">
   </div>

<div class="lst-block">

<ul>
    <li><p>2006-2012 гг. - учеба в Строгановской академии, отеделение керамики.</p></li>
    <li><p>2014-2017 гг. - работа в керамической мастерской социально-реабилитационного центра,
        колледж №21 в должности технолога-керамиста и педагога.</p></li>
    <li><p>2016-2019 гг. - обучение графическому дизайну на курсах в HSE art and design school,<br>
        B&D, bangbangeducation, работа графическим дизайнером.</p></li>
    <li><p>2019-настоящее время - работа в студии Ne Malevichi, преподавание лепки и керамики <br>детям и взрослым, проведение лекций
        и экскурсий по истории керамики.</p></li>
    <li><p>2021-2022 гг. - учеба в «Свободных мастерских» в ММОМА.</p></li></ul></div>
<br>
    <br>
    <p align="center">Работаю над своими творческими проектами в керамике и живописи.</p>

{% endblock %}