{% extends 'base.html' %}
{% block title %} Живопись {% endblock %}
{% block body %}
  <section class="arts">
    <div class="col-12 ">
      <h2 class="text-center pb-2">Живопись</h2>
      <p class="card-text text-muted mx-5 mb-4">В живописи меня волнуют темы соcтояния человека, его ощущения и
        переживания. Работы — как своеобразные отпечатки-негативы эмоциональных состояний. Я
        физически проживаю свои чувства через свободное стекание красок по поверхности, они сплетаются
        будто из нитей разных цветов, как плетется
        ткань. Я делаю мазок краски, беря много растворителя и смотрю, как краска течет вниз по
        шероховатой поверхности оргалита. И каждый раз она течет по-новому, немного меняя
        свое направление. Интересно наблюдать, как
        перетекает одна краска в другую, они перемешиваются и дальше текут уже независимо
        от меня, своим путем. И каждый раз происходит это по-разному, в зависимости от моего
        настроения, прогрунтованной поверхности
        оргалита поставленнных мною задач. Иногда,
        продуманная заранее идея, а иногда — это
        спонтанная живопись, к которой я приступила
        под впечатлением.
        Я пишу на оргалите, так как это жесткий и менее управляемый материал. И во время работы
        создается ощущение работы на стене. Оргалит
        как и стена не поддается воздействию кисти
        в отличие от холста на подрамнике.</p></div>
    <div class="row g-4 mx-4">
      <div class="col-lg-4 col-md-2 ">
        <div class="card">
          <a href="/fear">
            <img src="{{ url_for('static', filename='img/new_img/img19.jpg') }}" class="card-img-top" alt="art">
          </a>
        </div>
        <div>
          <h4 class="text-center mt-3">Проект «Страх»</h4>
        </div>
      </div>
      <div class="col-lg-4 col-md-2 ">
        <div class="card">
          <a href="/unclear">
            <img src="{{ url_for('static', filename='img/new_img/img26.jpg') }}" class="card-img-top" alt="cary">
          </a>
        </div>
        <div>
          <h4 class="text-center mt-2">Проект «Неясность»</h4>
        </div>
      </div>
      <div class="col-lg-4 col-md-2 ">
        <div class="card">
          <a href="/blue">
            <img src="{{ url_for('static', filename='img/new_img/img25.jpg') }}" class="card-img-top" alt="cary">
          </a>
        </div>
        <div>
          <h4 class="text-center mt-2">Проект «Синее. Свобода»</h4>
        </div>
      </div>
    </div>
  </section>
  {% include 'includes/footer.html' %}
{% endblock %}
