<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <script src="https://use.fontawesome.com/b1c567cb10.js"></script>
    <title>Home</title>
</head>

{#хидер#}
<header>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
                    <a href="/"
                       class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                        <svg class="bi me-2" width="40" height="32">
                            <use xlink:href="#bootstrap"></use>
                        </svg>
                        <p style="font-family:
                        Luminari, fantasy;
                        font-weight: 700;
                        color:black;
                        font-size:200%">
                            Svetlana Pokrovskaya</p>
                    </a>
                    <ul class="nav nav-pills">
                        <li class="nav-item"><a href="#about" class="nav-link active" aria-current="page">About</a></li>
                        <li class="nav-item"><a href="/" class="nav-link link-dark px-2">Projects</a></li>
                        <li class="nav-item"><a href="/" class="nav-link link-dark px-2">Online shop</a></li>
                        <li class="nav-item"><a href="#contact" class="nav-link link-dark px-2">Contact</a></li>
                        <li class="nav-item"><a href="{{ telegram }}" class="nav-link link-dark px-2"><i
                                class="bi bi-telegram"></i></a></li>
                        <li class="nav-item"><a href="{{ whats_up }}" class="nav-link link-dark px-2"><i
                                class="bi bi-whatsapp"></i></a></li>
                        <li class="nav-item"><a href="{{ vk_page }}" class="nav-link link-dark px-2"><i
                                class="fa fa-vk"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<body>
{#первая страница с каруселью#}
<section class="index" id="home">
    <div class="container-fluid my-carousel">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ url_for('static', filename='img/lockdown_two.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/lockdown.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/fragments.jpg') }}" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

</section>

{#о художнике#}
<section class="about" id="about">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center mt-1">Светлана Покровская, художник </h3>
                <h4 class="text-center mb-4">Живу и работаю в Москве</h4>
            </div>
        </div>
        <div class="row align-items-center mb-5">
            <div class="col-lg-7 col-sm-10">
                <h5>2006-2012 гг. - учеба в Строгановской академии, отделение керамики.</h5>
                <h5>2014-2017 гг. - работа в керамической мастерской социально-реабилитационного центра, колледж №21
                    в должности
                    технолога-керамиста и педагога.</h5>
                <h5>2016-2019 гг. - обучение графическому дизайну на курсах в HSE art and design school,B&D,
                    bangbangeducation,
                    работа графическим дизайнером.</h5>
                <h5>2019-настоящее время - работа в студии Ne Malevichi,
                    преподавание
                    лепки и
                    керамики детям и взрослым, проведение лекций
                    и экскурсий по истории керамики.</h5>
                <h5>2021-2022 гг. - учеба в «Свободных мастерских» в
                    ММОМА.</h5>
            </div>
            <div class="col-lg-5 col-sm-2 mb-sm-5 mt-sm-5 text-center">
                <img src="{{ url_for('static', filename='img/about_img.jpg') }}" class="img-fluid">
            </div>
            <div class="col-lg-4 col-sm-7">
                <h5>Работаю над своими творческими проектами в керамике и живописи.</h5>
            </div>
        </div>
    </div>
</section>


{#контакты#}
<section class="contact" id="contact">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12">
                <h3 class="text-center mb-5">Contact Me</h3>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="contact_social_icons text-center mb-10">
            <ul class="list-unstyled">
                <li class="nav-item"><a href="{{ telegram }}" class="nav-link link-dark px-2"><i
                        class="bi bi-telegram"></i></a></li>
                <li class="nav-item"><a href="{{ whats_up }}" class="nav-link link-dark px-2"><i
                        class="bi bi-whatsapp"></i></a></li>
                <li class="nav-item"><a href="{{ vk_page }}" class="nav-link link-dark px-2"><i
                        class="fa fa-vk"></i></a></li>
            </ul>
            <p class="font-weight-bold"> +1 (922) 219-09-1278</p>
            <p class="font-weight-bold"> e-mail: svetlana_pokrovskaya@gmail.com</p>
        </div>
    </div>
</section>

{#футер#}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="container pt-2 ma-md-2 pt-md-2">
                    <div class="container d-flex flex-wrap">
                        <ul class="nav me-auto">
                            <li class="nav-item"><a href="#home" class="nav-link link-dark px-2"
                                                    aria-current="page">Home</a>
                            </li>
                            <li class="nav-item"><a href="#about" class="nav-link link-dark px-2">About</a></li>
                            <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Projects</a></li>
                            <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Online shop</a></li>
                            <li class="nav-item"><a href="#contact" class="nav-link link-dark px-2">Contact</a></li>
                        </ul>
                        <p class="text-muted mb-0">© Copyright | AlexanderZug 2022 </p>
                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>