{% extends 'base.html' %}
{% block title %} Синее.Свобода {% endblock %}
{% block body %}
  <section class="gallery min-vh-100">
    <div class="col-12 text-center"><h3>«Синее.Свобода»</h3>
      <h4 class="text-center">122*138 см. оргалит, масло, 2014 г.</h4></div>
    <div class="container gx-4">
      <div class="text-muted pt-3 pb-5">
        Полотно сделано под впечатлением от просмотра картины «Три цвета.
        Синий» К. Кесьлевского о том, как женщина,
        потеряв мужа и дочь
        в автокатастрофе, переживает эту потерю. Кино
        о постепенном принятии ситуации и через это возвращении к жизни.
        Фильм стал толчком для
        переосмысления своей жизни в тот момент.
        Через живопись, через этот синий цвет, будто и я сама освободилась
        от прошлого и старого во мне. Интересно, что
        в фильме именно синий
        взят как цвет «освобождения».
      </div>
    </div>
    <div class="container-lg">
      <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-3">
        <div class="col">
          <img src="{{ url_for('static', filename='img/arts/img05.jpg') }}" class="gallery-item" alt="image4">
        </div>
        <div class="col">
          <img src="{{ url_for('static', filename='img/new_img/img25.jpg') }}" class="gallery-item" alt="image5">
        </div>
        <div class="col">
          <img src="{{ url_for('static', filename='img/arts/img05.jpg') }}" class="gallery-item" alt="image6">
        </div>
      </div>
    </div>
  </section>
  <section class="Modal-section">
    <div class="modal fade" id="gallery-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <img src="{{ url_for('static', filename='img/arts/img01.jpg') }}" class="modal-img" alt="modal-img">
          </div>
        </div>
      </div>
    </div>
    <script src="static/js/base.js"></script>
  </section>
{% endblock %}
