{% extends 'base.html' %}
{% block title %} Синее.Свобода {% endblock %}
{% block body %}
  <section class="gallery min-vh-100">
    <div class="col-12 text-center"><h3>«Синее.Свобода»</h3>
      <h4 class="text-center">122*138 см. оргалит, масло, 2014 г.</h4></div>
    <div class="container gx-4">
      {% include 'includes/project_description.html' %}
    </div>
    <div class="container-lg">
      {% include 'includes/admin_form.html' %}
      <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-3">
        {% include 'includes/img_arts.html' %}
      </div>
    </div>
  </section>
  {% include 'includes/js_handler_for_img.html' %}
  {% include 'includes/footer.html' %}
{% endblock %}
