{% extends 'base.html' %}
{% block title %} Керамика {% endblock %}
{% block body %}
  <section class="arts">
    <div class="container">
      <div class="col-12">
        <h2 class="text-center pb-2">Керамика</h2>
        <p class="card-text text-muted mb-4">Основной медиум в моей работе — керамика.
          Этот материал привлекает своей трехмерностью,
          объемом, игрой внешнего и внутреннего пространств.
          Мне интересен человек, его эмоции, нюансы
          состояний и ощущений. В своих работах я создаю
          будто бы внешнюю оболочку человека из глины,
          развивая тему эмоций через этот образ.
          Сами работы могут напоминать археологические раскопки: когда изделие (или останки человека)
          собирают из отдельных частей в единое
          целое, как и сам человек может быть нецелен и
          оторван от себя.
          Визуально меня вдохновляет искусство Древней Греции со своим стремлением к созданию
          образа идеального человека. В этом антропоцентричном искусстве, человек целен и духовно
          и телесно. Однако, дошедшие до нас артефакты
          сохранились частями, скульптурные композиции
          богов и людей разбиты, расколоты. А ведь именно частичность их искусства так привлекательна
          своей недосказанностью и будто бы незавершенностью.
          Через керамику я говорю о человеке, его сущности, существовании, бытии. Этот материал вечен,
          но в то же время природа керамики хрупкая
          и уязвимая, как и сам человек.</p></div>
      <div class="projects-item" id="projects-item">
        <div class="row row-cols-1 row-cols-md-2 gx-4 gy-4">
          <div class="col">
            <div class="card">
              <a href="{{ url_for('self_portrait') }}">
                <img src="{{ url_for('static', filename='img/img03.jpg') }}" class="card-img-top" alt="art">
              </a>
            </div>
            <div>
              <p class="text-center fs-3 mt-4">Проект «Автопортрет. Изменения»</p>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <a href="{{ url_for('isolation') }}">
                <img src="{{ url_for('static', filename='img/img05.jpg') }}" class="card-img-top" alt="cary">
              </a>
            </div>
            <div>
              <p class="text-center fs-3 mt-4">Проект «Изоляция»</p>
            </div>
          </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 gx-4 gy-4 mt-3">
          <div class="col">
            <div class="card">
              <a href="{{ url_for('non_intensity') }}">
                <img src="{{ url_for('static', filename='img/img15.jpg') }}" class="card-img-top" alt="art">
              </a>
            </div>
            <div>
              <p class="text-center fs-3 mt-4">Проект «Нецелостность»</p>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <a href="{{ url_for('loneliness') }}">
                <img src="{{ url_for('static', filename='img/img13.jpg') }}" class="card-img-top" alt="cary">
              </a>
            </div>
            <div>
              <p class="text-center fs-3 mt-4">Проект «Одиночество»</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include 'includes/footer.html' %}
{% endblock %}
