{% extends 'base.html' %}
{% block title %} Графика {% endblock %}
{% block body %}
  <section class="gallery min-vh-100 graphic">
    <div class="col-12 text-center"><h3>Графика</h3></div>
    <div class="container-lg">
      <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-3">
        <div class="col">
          <img src="{{ url_for('static', filename='img/new_img/img43.jpg') }}" class="gallery-item" alt="image4">
        </div>
        <div class="col">
          <img src="{{ url_for('static', filename='img/new_img/img44.jpg') }}" class="gallery-item" alt="image5">
        </div>
        <div class="col">
          <img src="{{ url_for('static', filename='img/new_img/img45.jpg') }}" class="gallery-item" alt="image6">
        </div>
        <div class="col">
          <img src="{{ url_for('static', filename='img/new_img/img46.jpg') }}" class="gallery-item" alt="image6">
        </div>
        <div class="col">
          <img src="{{ url_for('static', filename='img/new_img/img47.jpg') }}" class="gallery-item" alt="image6">
        </div>
        <div class="col">
          <img src="{{ url_for('static', filename='img/new_img/img36.jpg') }}" class="gallery-item" alt="image6">
        </div>
      </div>
    </div>
  </section>
  <section class="Modal-section">
    <div class="modal fade" id="gallery-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <img src="{{ url_for('static', filename='img/arts/img01.jpg') }}" class="modal-img" alt="modal-img">
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
