{% extends 'base.html' %}
{% block title %} Графика {% endblock %}
{% block body %}
  <section class="gallery min-vh-100 graphic">
    <div class="col-12 text-center"><h3>Графика</h3>
      <p class="text-center text-muted pb-2">Здесь можно выбрать графику. Есть два варианта: оригиналы и печатные копии
        в очень
        хорошем качестве.</p></div>
    <div class="container-lg">
      <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-3">
        {% if current_user.is_authenticated %}
          <form method="post" enctype="multipart/form-data">
            <input class="btn btn-light mb-2" type="file" name="image"><br>
            <input class="btn btn-light" type="submit" value="Сохранить">
          </form>
        {% endif %}
        <div class="col">
          <img src="{{ url_for('static', filename='img/new_img/img43.jpg') }}" class="gallery-item" alt="image4">
          <p class="text-center text-muted">Яблоки. А4 6000 р., 2500 р.</p>
        </div>
        <div class="col">
          <img src="{{ url_for('static', filename='img/new_img/img44.jpg') }}" class="gallery-item" alt="image5">
          <p class="text-center text-muted">Ветка груши. А5 3500 р., 1500 р.</p>
        </div>
        <div class="col">
          <img src="{{ url_for('static', filename='img/new_img/img45.jpg') }}" class="gallery-item" alt="image6">
          <p class="text-center text-muted">Лук. А4 6000 р., 2500 р.</p>
        </div>
        <div class="col">
          <img src="{{ url_for('static', filename='img/new_img/img46.jpg') }}" class="gallery-item" alt="image6">
          <p class="text-center text-muted">Кукуруза. А4 6000 р., 2500 р.</p>
        </div>
        <div class="col">
          <img src="{{ url_for('static', filename='img/new_img/img47.jpg') }}" class="gallery-item" alt="image6">
          <p class="text-center text-muted">Груши. А4 6000 р., 2500 р.</p>
        </div>
        <div class="col">
          <img src="{{ url_for('static', filename='img/new_img/img36.jpg') }}" class="gallery-item" alt="image6">
          <p class="text-center text-muted">Ветки яблони. А4 6000 р., 2500 р.</p>
        </div>
        <div class="col">
          <img src="{{ url_for('static', filename='img/new_img/img31.jpg') }}" class="gallery-item" alt="image6">
          <p class="text-center text-muted">Незабудки. А5 3500 р., 1500 р.</p>
        </div>
        <div class="col">
          <img src="{{ url_for('static', filename='img/new_img/img35.jpg') }}" class="gallery-item" alt="image6">
          <p class="text-center text-muted">Сухоцвет. А5 3500 р., 1500 р.</p>
        </div>
        <div class="col">
          <img src="{{ url_for('static', filename='img/new_img/img55.jpg') }}" class="gallery-item" alt="image6">
          <p class="text-center text-muted">Синий букет. А5 3500 р., 1500 р.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="Modal-section">
    <div class="modal fade" id="gallery-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <img src="{{ url_for('static', filename='img/arts/img01.jpg') }}" class="modal-img" alt="modal-img">
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include 'includes/footer.html' %}
{% endblock %}
