{% extends 'base.html' %}
{% block title %} Графика {% endblock %}
{% block body %}
  <section class="gallery min-vh-100 graphic">
    <div class="col-12 text-center"><h3>Графика</h3>
      {% for desc in  bd_foto_prise %}
        {% if desc.description %}
          <p class="text-center text-muted pb-2">{{ desc.description }}</p></div>
        {% endif %}
      {% endfor %}
    <div class="container-lg">
      {% include 'includes/admin_form.html' %}
      <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-3">
        {% for foto in bd_foto_prise %}
          {% if foto.image and foto.prise_and_size %}
            <div class="col">
              <img src="static/uploads/{{ foto.image }}" class="gallery-item" alt="image4">
              <p class="text-center text-muted">{{ foto.prise_and_size }}</p>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>
  {% include 'includes/js_handler_for_img.html' %}
  {% include 'includes/footer.html' %}
{% endblock %}
