{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block body %}
<div id="wrapper">
      <div id="carousel">
        <div id="content">
          <img
            class="item"
            src="{{ url_for('static', filename='img/girl.jpg') }}" class="img-thumbnail"
          />
          <img
            src="{{ url_for('static', filename='img/lockdown.jpg') }}"
            class="item"
          />
          <img
            src="{{ url_for('static', filename='img/fragments.jpg') }}"
            class="item"
          />
          <img
            src="{{ url_for('static', filename='img/not_holi.jpg') }}"
            class="item"
          />
          <img
            src="{{ url_for('static', filename='img/lockdown_two.jpg') }}"
            class="item"
          />
          <img
            src="{{ url_for('static', filename='img/fragments_two.jpg') }}"
            class="item"
          />
        </div>
      </div>
      <button id="prev">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path fill="none" d="M0 0h24v24H0V0z" />
          <path d="M15.61 7.41L14.2 6l-6 6 6 6 1.41-1.41L11.03 12l4.58-4.59z" />
        </svg>
      </button>
      <button id="next">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path fill="none" d="M0 0h24v24H0V0z" />
          <path d="M10.02 6L8.61 7.41 13.19 12l-4.58 4.59L10.02 18l6-6-6-6z" />
        </svg>
      </button>
    </div>


<div class="points-fix">
    <a href="/about" class="points-fix">Go to the Shop</a>
</div>

<script src="static/js/index_page.js"> </script>

{% endblock %}
