{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block body %}

<div class="slideshow-container">
  <div class="mySlides fade">
      <div class="filters-img">
          <img src="{{ url_for('static', filename='img/forget_me_nots.jpg') }}" style="width:40%"></div>
  </div>

  <div class="mySlides fade">
      <div class="filters-img">
          <img src="{{ url_for('static', filename='img/onion.jpg') }}" style="width:75%"></div>
  </div>

  <div class="mySlides fade">
    <div class="filters-img">
    <img src="{{ url_for('static', filename='img/dried_flower_red.jpg') }}" style="width:40%"></div>
  </div>

  <div class="mySlides fade">
      <div class="filters-img">
          <img src="{{ url_for('static', filename='img/corn.jpg') }}" style="width:55%"></div>
  </div>
</div>
<br>

<div class="points-fix">
    <a href="/about" class="points-fix">Go to the Shop</a>
</div>

<script src="static/js/index_page.js"> </script>

{% endblock %}
