{% extends 'base.html' %}
{% block title %} Изоляция {% endblock %}
{% block body %}
  <section class="gallery min-vh-100">
    <div class="col-12 text-center"><h3>«Изоляция»</h3>
      <h4 class="text-center">фарфоровый шамот, пигменты,
        цветные массы, конструкция,
        леска. Высота каждой маски 19 см.
        2020г.</h4></div>
    <div class="container gx-4">
      <div class="text-muted pt-3 pb-5">
        Эта работа посвящена состоянию человека во время
        изоляции и карантина (весной 2020г.).
        Мне как и многим людям особенно тяжело давалось сидеть
        дома, не общаться и не видеться с близкими и друзьями.
        Лица людей, как и три маски, снаружи
        спокойные, почти без эмоций.
        Кажется, мы мирно живём, сидим дома.
        Но в глубине кроется
        буря, тревога, страх, ощущение
        одиночества, с которыми иногда сложно справиться. Наши
        эмоции, скрытые внутри нас, бушуют. И внутренняя часть
        масок темная и напряжённая.
        Нам приходится скрывать наши
        переживания за маской спокойствия.
      </div>
    </div>
    <div class="container-lg">
      <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-3">
        <div class="col">
          <img src="{{ url_for('static', filename='img/new_img/img06.jpg') }}" class="gallery-item" alt="image4">
        </div>
        <div class="col">
          <img src="{{ url_for('static', filename='img/new_img/img07.jpg') }}" class="gallery-item" alt="image5">
        </div>
        <div class="col">
          <img src="{{ url_for('static', filename='img/new_img/img08.jpg') }}" class="gallery-item" alt="image6">
        </div>
        <div class="col">
          <img src="{{ url_for('static', filename='img/new_img/img05.jpg') }}" class="gallery-item" alt="image6">
        </div>
        <div class="col"></div>
        <div class="col">
          <img src="{{ url_for('static', filename='img/new_img/img09.jpg') }}" class="gallery-item" alt="image6">
        </div>
      </div>
    </div>
  </section>
  <section class="Modal-section">
    <div class="modal fade" id="gallery-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <img src="{{ url_for('static', filename='img/arts/img01.jpg') }}" class="modal-img" alt="modal-img">
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include 'includes/footer.html' %}
{% endblock %}
