{% extends 'base.html' %}
{% block title %} Изоляция {% endblock %}
{% block body %}
  <section class="gallery min-vh-100">
    <div class="col-12 text-center"><h3>«Изоляция»</h3>
      <h4 class="text-center">фарфоровый шамот, пигменты,
        цветные массы, конструкция,
        леска. Высота каждой маски 19 см.
        2020г.</h4></div>
    <div class="container gx-4">
      <div class="text-muted pt-3 pb-5">
        Эта работа посвящена состоянию человека во время
        изоляции и карантина (весной 2020г.).
        Мне как и многим людям особенно тяжело давалось сидеть
        дома, не общаться и не видеться с близкими и друзьями.
        Лица людей, как и три маски, снаружи
        спокойные, почти без эмоций.
        Кажется, мы мирно живём, сидим дома.
        Но в глубине кроется
        буря, тревога, страх, ощущение
        одиночества, с которыми иногда сложно справиться. Наши
        эмоции, скрытые внутри нас, бушуют. И внутренняя часть
        масок темная и напряжённая.
        Нам приходится скрывать наши
        переживания за маской спокойствия.
      </div>
    </div>
    <div class="container-lg">
      {% include 'includes/admin_form.html' %}
      <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-3">
        {% include 'includes/img_ceramic.html' %}
      </div>
    </div>
  </section>
  {% include 'includes/js_handler_for_img.html' %}
  {% include 'includes/footer.html' %}
{% endblock %}
