{% extends 'base.html' %}
{% block title %} Одиночество {% endblock %}
{% block body %}
  <section class="gallery min-vh-100">
    <div class="col-12 text-center"><h3>«Одиночество»</h3>
      <h4 class="text-center">фарфоровый шамот, пигменты, цветные массы, земля,
        длина керамической части 100 см.
        2021г.</h4></div>
    <div class="container gx-4">
      <div class="text-muted pt-3 pb-5">
        Одиночество и освобождает, и сковывает. Однажды мне казалось,
        будто меня разбило на куски его
        тяжестью. Я не могла двинуться, мне
        хотелось взять кого-то за руку, но
        будто не было моих собственных рук.
        В проекте части человеческого
        тела погружены в землю. Земля
        как начало и конец: единственные
        моменты в жизни, когда человек
        по-настоящему один: «... ибо прах ты
        и в прах возвратишься»*. Оставаясь
        в одиночестве, в постоянных мыслях
        о себе, человек как будто погружается в это первоначальное вещество.
        Через керамику я осмысляю пережитые мной состояния, обращаясь
        к внешней оболочке моего существа.
        Здесь я разворачиваю внутреннюю
        часть этой оболочки на зрителя,
        таким образом обнажая пребывание
        человека в себе, в своем одиночестве.
        <em> *Библия, Книга Бытия 3:19 </em>
      </div>
    </div>
    <div class="container-lg">
      <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-3">
        <div class="col">
          <img src="{{ url_for('static', filename='img/img10.jpg') }}" class="gallery-item" alt="image4">
        </div>
        <div class="col">
          <img src="{{ url_for('static', filename='img/img37.jpg') }}" class="gallery-item" alt="image5">
        </div>
        <div class="col">
          <img src="{{ url_for('static', filename='img/img11.jpg') }}" class="gallery-item" alt="image6">
        </div>
      </div>
    </div>
  </section>
  <section class="Modal-section">
    <div class="modal fade" id="gallery-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <img src="{{ url_for('static', filename='img/img01.jpg') }}" class="modal-img" alt="modal-img">
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include 'includes/footer.html' %}
{% endblock %}
