{% extends 'base.html' %}
{% block title %} Нецелостность {% endblock %}
{% block body %}
  <section class="gallery min-vh-100">
    <div class="col-12 text-center"><h3>«Нецелостность»</h3>
      <h4 class="text-center">фарфоровый шамот, 2021-2022гг.
        вся композиция 120*80 см.</h4></div>
    <div class="container gx-4">
      <div class="text-muted pt-3 pb-5">
        Часто я чувствую нецелостность
        внутри, и мне будто приходится
        собирать себя воедино. И хотя
        внешне мы, люди, можем выглядеть цельно, но внутри ощущаем
        себя нецельными. Я чувствую, как
        уходящее время, жизненные проблемы, цифровизация, стремится
        «разрывать» нас на части.
        Композиция проекта состоит из
        отдельных частей тела, будто бы
        внешней оболочки человека. Таким образом я хочу показать нашу
        внутреннюю нецелостность.
      </div>
    </div>
    <div class="container-lg">
      {% include 'includes/admin_form.html' %}
      <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-3">
        {% include 'includes/img_ceramic.html' %}
      </div>
    </div>
  </section>
  {% include 'includes/js_handler_for_img.html' %}
  {% include 'includes/footer.html' %}
{% endblock %}
