{% extends 'base.html' %}
{% block title %} Весна {% endblock %}
{% block body %}
  <section class="gallery min-vh-100">
    <div class="col-12 text-center"><h3>«Весна»</h3>
      <h4 class="text-center">122*138 см., оргалит, масло, 2017-2018 гг.</h4></div>
    <div class="container gx-4">
      <div class="text-muted pt-3 pb-5">
        Полотно об ощущениях
        весны, переживании
        этого периода. Красивое,
        динамичное, контрастное, чувственное время
        года, когда все пробуждается, раскрывается
        и начинает новую жизнь.
        Внизу черная земля,
        которая просыпается
        и тянется вверх. Голубое
        — это небо, вселенная
        или Бог, это свобода,
        которая приходит на
        землю, и эти две части:
        небо и земля пересекаются, перемешиваются
        и растут вместе.
      </div>
    </div>
    <div class="container-lg">
      <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-3">
        <div class="col">
          <img src="{{ url_for('static', filename='img/img01.jpg') }}" class="gallery-item" alt="image4">
        </div>
        <div class="col">
          <img src="{{ url_for('static', filename='img/img01.jpg') }}" class="gallery-item" alt="image5">
        </div>
        <div class="col">
          <img src="{{ url_for('static', filename='img/img01.jpg') }}" class="gallery-item" alt="image6">
        </div>
      </div>
    </div>
  </section>
  {% include 'includes/js_handler_for_img.html' %}
  {% include 'includes/footer.html' %}
{% endblock %}
